# Compiled class files
*.class

# Log files
*.log

# Build directories
/build/
target/

# Dependency directories (JAR files and libraries)
lib/
webapp/WEB-INF/lib/

# IDE specific files
*.iml
.idea/
*.project
*.classpath
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Eclipse specific files
*.launch

# NetBeans specific files
nbproject/private/